@import "base";

$main-background: #fff;

$header-height: 65px;
$header-background: #000;

$sitename-color: #fff;
$sitename-font-size: 35px;

html {
  font-family: arial, sans-serif;
}

body {
  background-color: $main-background;
  height: 100%;
  margin: 20px;
}

table.board {
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  margin-right: 50px;
  margin-top: 50px
}

td.slot {
  text-align: center;
  height: 150px;
  width: 30px;
  position: relative;
}

td.topslot {
  @extend td.slot;

  vertical-align: top;
}

td.bottomslot {
  @extend td.slot;

  vertical-align: bottom;
}

td.topcollection {
  @extend td.topslot;

  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #444;
  background-color: pink;
} 

td.bottomcollection {
  @extend td.bottomslot;

  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #444;
  background-color: lightgreen;
}

td.hit {
  @extend td.slot;

  background-color: black;
}

div.triangle {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: -10;
}

div.toplighttriangle {
  @extend div.triangle;

  border-top: 120px solid lightgray;
}

div.topdarktriangle {
  @extend div.triangle;

  border-top: 120px solid rgb(170, 170, 170);
}

div.bottomtriangle {
  @extend div.triangle;

  padding-top:30px;
}

div.bottomlighttriangle {
  @extend div.bottomtriangle;

  border-bottom: 120px solid lightgray;
}

div.bottomdarktriangle {
  @extend div.bottomtriangle;

  border-bottom: 120px solid rgb(170, 170, 170);
}

ul.slot {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div#refreshButtonContainer {
  margin-top: 50px;
}

div.piece {
  width: 20px;
  height: 20px;
  margin: 1px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #444;

  @include border-radius(50%);
}

div.redpiece {
  @extend div.piece;

  background-color: red;
  @include background-image(radial-gradient(5px 5px, circle cover, orange, red));
}

div.greenpiece {
  @extend div.piece;

  background-color: green;
  @include background-image(radial-gradient(5px 5px, circle cover, lightgreen, green));
}

