@import "base";

$main-background: #fff;

$header-height: 65px;
$header-background: #000;

$sitename-color: #fff;
$sitename-font-size: 35px;

html {
  font-family: arial, sans-serif;
}

body {
  background-color: $main-background;
  height: 100%;
  margin: 20px;
}

table.board {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  margin-right: 50px;
  margin-top: 50px
}

td.slot {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  height: 150px;
  width: 30px;
}

td.topslot {
  @extend td.slot;

  vertical-align: top;
}

td.bottomslot {
  @extend td.slot;

  vertical-align: bottom;
} 

ul.slot {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div#refreshButtonContainer {
  margin-top: 50px;
}

div.piece {
  width: 20px;
  height: 20px;
  margin: 1px 5px;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

div.redpiece {
  @extend div.piece;

  background-color: red;
  background-image: -moz-radial-gradient(5px 5px 45deg, circle cover, orange, red);
  background-image: -webkit-radial-gradient(5px 5px, circle cover, orange, red);
  background-image: radial-gradient(5px 5px 45deg, circle cover, orange, red);
}

div.greenpiece {
  @extend div.piece;

  background-color: green;
  background-image: -moz-radial-gradient(5px 5px 45deg, circle cover, lightgreen, green);
  background-image: -webkit-radial-gradient(5px 5px, circle cover, lightgreen, green);
  background-image: radial-gradient(5px 5px 45deg, circle cover, lightgreen, green);

}

