<!DOCTYPE html>
<html lang="en" ng-app="botgammonApp">

<head>

<meta charset="utf-8">
<title>Botgammon</title>
<link rel="canonical" href="http://botgammon.herokuapp.com" />
<meta name="description" content="Botgammon is a server/website that allows 4 AI bots to play team 2v2 backgammon.">
<script src="js/components/angular/angular.js"></script>
<script src="js/components/underscore/underscore.js"></script>
<script src="js/controllers.js"></script>

</head>

<body ng-controller="GameCtrl">

<div>
{{game}}
</div>

<table style="display:inline-block; border-style:solid; border-width:1px; margin-right:50px; margin-top:50px" ng-repeat="board in game.boards">

  <tr>
    <td style="vertical-align:top; text-align:center; border-style:solid; border-width:1px; height:100px; width:25px;" ng-repeat="slotIndex in _.range(0, 12)">
      <ul style="list-style-type:none; padding:0px; margin:0px;">
        <li ng-repeat="piece in board.slots[slotIndex] track by $index">
          <span ng-if="piece == 0">X</span>
          <span ng-if="piece == 1">O</span>
        </li>
      </ul>
    </td>
  </tr>

  <tr>
    <td style="vertical-align:bottom; text-align:center; border-style:solid; border-width:1px; height:100px; width:25px;" ng-repeat="slotIndex in _.range(12, 24).reverse()">
      <ul style="list-style-type:none; padding:0px; margin:0px;">
        <li ng-repeat="piece in board.slots[slotIndex].slice(0).reverse() track by $index">
          <span ng-if="piece == 0">X</span>
          <span ng-if="piece == 1">O</span>
        </li>
      </ul>
    </td>
  </tr>

</table>

<div style="margin-top:50px;">
<button ng-click="loadData()">Refresh</button>
</div>

</body>

</html>
