<!DOCTYPE html>
<html lang="en" ng-app="botgammonApp">

<head>

<meta charset="utf-8">
<title>Botgammon</title>
<link rel="canonical" href="http://botgammon.herokuapp.com" />
<meta name="description" content="Botgammon is a server/website that allows 4 AI bots to play team 2v2 backgammon.">
<link rel="stylesheet" type="text/css" href="css/application.css">
<script src="js/components/angular/angular.js"></script>
<script src="js/components/underscore/underscore.js"></script>
<script src="js/controllers.js"></script>

</head>

<body ng-controller="GameCtrl">

<div id="debugRestResponse">
{{model.game}}
</div>

<table class="board" ng-repeat="board in model.game.boards">
  <tr>

   <td rowspan="2" class="topcollection">
     <ul class="slot">
       <li ng-repeat="piece in board.collected track by $index">
         <div class="redpiece" ng-if="piece == 0"> </div>
       </li>
     </ul>
   </td>

   <td class="topslot" ng-repeat="slotIndex in _.range(0, 6)">
     <div ng-class-odd="'toplighttriangle'" ng-class-even="'topdarktriangle'"></div>
     <ul class="slot">
       <li ng-repeat="piece in board.slots[slotIndex] track by $index">
         <div ng-class="piece == 0 ? 'redpiece' : 'greenpiece'"> </div>
       </li>
     </ul>
   </td>

   <td rowspan="2" class="hit">
     <ul class="slot">
       <li ng-repeat="piece in board.hit track by $index">
         <div ng-class="piece == 0 ? 'redpiece' : 'greenpiece'"> </div>
       </li>
     </ul>
   </td>

   <td class="topslot" ng-repeat="slotIndex in _.range(6, 12)">
     <div ng-class-odd="'toplighttriangle'" ng-class-even="'topdarktriangle'"></div>
     <ul class="slot">
       <li ng-repeat="piece in board.slots[slotIndex] track by $index">
         <div ng-class="piece == 0 ? 'redpiece' : 'greenpiece'"> </div>
       </li>
     </ul>
   </td>

   <td rowspan="2" class="bottomcollection">
     <div ng-class-odd="'bottomdarktriangle'" ng-class-even="'bottomlighttriangle'"></div>
     <ul class="slot">
       <li ng-repeat="piece in board.collected track by $index">
         <div class="greenpiece" ng-if="piece == 1"> </div>
       </li>
     </ul>
   </td>

  </tr>

  <tr>
   <td class="bottomslot" ng-repeat="slotIndex in _.range(23, 11, -1)">
     <div ng-class-odd="'bottomdarktriangle'" ng-class-even="'bottomlighttriangle'"></div>
     <ul class="slot">
       <li ng-repeat="piece in board.slots[slotIndex].slice().reverse() track by $index">
         <div ng-class="piece == 0 ? 'redpiece' : 'greenpiece'"> </div>
       </li>
     </ul>
   </td>
  </tr>

</table>

<div id="refreshButtonContainer">
  <button ng-click="loadData()">Refresh</button>
</div>

</body>

</html>
