<!DOCTYPE html>
<html lang="en" ng-app="botgammonApp">

<head>

<meta charset="utf-8">
<title>Botgammon</title>
<link rel="canonical" href="http://botgammon.herokuapp.com" />
<meta name="description" content="Botgammon is a server/website that allows 4 AI bots to play team 2v2 backgammon.">
<link rel="stylesheet" type="text/css" href="css/application.css">
<script src="js/components/angular/angular.js"></script>
<script src="js/components/underscore/underscore.js"></script>
<script src="js/controllers.js"></script>

</head>

<body ng-controller="GameCtrl">

<div id="debugRestResponse">
{{game}}
</div>

<table class="board" ng-repeat="board in game.boards">
  <tr>
    <td class="topslot" ng-repeat="slotIndex in _.range(0, 12)">
      <ul class="slot">
        <li ng-repeat="piece in board.slots[slotIndex] track by $index">
          <span ng-if="piece == 0">X</span>
          <span ng-if="piece == 1">O</span>
        </li>
      </ul>
    </td>
  </tr>

  <tr>
    <td class="bottomslot" ng-repeat="slotIndex in _.range(12, 24).reverse()">
      <ul class="slot">
        <li ng-repeat="piece in board.slots[slotIndex].slice(0).reverse() track by $index">
          <span ng-if="piece == 0">X</span>
          <span ng-if="piece == 1">O</span>
        </li>
      </ul>
    </td>
  </tr>

</table>

<div id="refreshButtonContainer">
  <button ng-click="loadData()">Refresh</button>
</div>

</body>

</html>
